
*{
    margin: 1px;
    padding: 10;
}



.contenedor{
    
    display: block;
    text-align: right; 
    height: 100%;
    width: 100%;
    position: fixed;
    top:90px;
    right: 0%;
    left: 22%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}

.header{
    display: block; 
    background-color: hotpink;
    width: 80%;
    height: 25%;
    border-radius: 15px 0px 0px 15px;
    position: fixed;
    top: 0%;
    left: 20%;
    border: solid 1px rgb(255, 255, 255);

}

.navegacion{
    border: solid 1px rgb(255, 255, 255);
    background-color: black;
    height: 100vh;
    width: 20%;
    border-radius: 0px 0px 0px 0px;
    position: fixed;
    top: 0%;
    padding-bottom: 150px;
    display: block;
}

.navegacion li {
    padding: 60px;
    display: block;

}

.navegacion li a{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blanchedalmond;
}

.navegacion li :hover{
    background-color: indigo;

}

.texto{
    display: block; 
    background-color: rgb(0, 38, 255);
    width: 80%;
    height: 25%;
    border-radius: 15px 0px 0px 15px;
    position: fixed;
    top: 25%;
    left: 20%;
    border: solid 1px rgb(255, 255, 255);
}

.integrantes{
    display: block; 
    background-color: rgb(0, 185, 15);
    width: 80%;
    height: 25%;
    border-radius: 15px 0px 0px 15px;
    position: fixed;
    top: 50%;
    left: 20%;
    border: solid 1px rgb(255, 255, 255);
    
}

.contacto{
    padding-top: 40% ;
    padding-left: 25%;
}

.mascotas{
    display: block; 
    background-color: rgb(169, 0, 185);
    width: 80%;
    height: 25%;
    border-radius: 15px 0px 0px 15px;
    position: fixed;
    top: 75%;
    left: 20%;
    border: solid 1px rgb(255, 255, 255);
}

.mascotas table{


}

.pie_pagina{
    background-color: blanchedalmond;
}
